# Pandas Data Cleaning

**Course:** MLM-101 - Machine Learning Mastery  
**Phase 4:** Pandas for Data Analysis (Lectures 35-36)  
**Topics:** Missing Values, Duplicates, Data Type Conversion

---

## ðŸ“š Learning Objectives

By the end of this notebook, you will be able to:

âœ… Detect and handle missing values  
âœ… Identify and remove duplicate rows  
âœ… Convert data types appropriately  
âœ… Handle outliers and inconsistent data  
âœ… Prepare clean datasets for ML models

---

In [ ]:
import pandas as pd
import numpy as np

print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

## 1ï¸âƒ£ Handling Missing Values

Missing data is one of the most common data quality issues.

In [ ]:
# Create dataset with missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Age': [25, np.nan, 35, 28, np.nan, 45],
    'Salary': [50000, 60000, np.nan, 55000, 65000, np.nan],
    'Department': ['Engineering', 'Marketing', None, 'Sales', 'Engineering', 'Marketing']
})

print("Dataset with missing values:")
print(df)
print("\nData types:")
print(df.dtypes)

In [ ]:
# Detect missing values
print("Missing values (True/False):")
print(df.isnull())

print("\nMissing count per column:")
print(df.isnull().sum())

print("\nMissing percentage per column:")
print((df.isnull().sum() / len(df) * 100).round(2))

### Strategy 1: Drop Missing Values

In [ ]:
# Drop rows with ANY missing value
df_dropna = df.dropna()
print("After dropping rows with ANY missing value:")
print(df_dropna)
print(f"Shape: {df.shape} â†’ {df_dropna.shape}")

# Drop rows where ALL values are missing
df_dropna_all = df.dropna(how='all')
print("\nAfter dropping rows where ALL values are missing:")
print(df_dropna_all)

# Drop columns with missing values
df_dropna_cols = df.dropna(axis=1)
print("\nAfter dropping columns with missing values:")
print(df_dropna_cols)

### Strategy 2: Fill Missing Values

In [ ]:
# Fill with specific value
df_fill_zero = df.fillna(0)
print("Fill with 0:")
print(df_fill_zero)

# Fill with mean (numerical columns)
df_fill_mean = df.copy()
df_fill_mean['Age'] = df_fill_mean['Age'].fillna(df_fill_mean['Age'].mean())
df_fill_mean['Salary'] = df_fill_mean['Salary'].fillna(df_fill_mean['Salary'].mean())
print("\nFill numerical with mean:")
print(df_fill_mean)

# Fill with median
df_fill_median = df.copy()
df_fill_median['Age'] = df_fill_median['Age'].fillna(df_fill_median['Age'].median())
print("\nFill Age with median:")
print(df_fill_median[['Name', 'Age']])

In [ ]:
# Fill with mode (most frequent)
df_fill_mode = df.copy()
df_fill_mode['Department'] = df_fill_mode['Department'].fillna(df_fill_mode['Department'].mode()[0])
print("Fill Department with mode:")
print(df_fill_mode[['Name', 'Department']])

# Forward fill (use previous value)
df_ffill = df.fillna(method='ffill')
print("\nForward fill:")
print(df_ffill)

# Backward fill (use next value)
df_bfill = df.fillna(method='bfill')
print("\nBackward fill:")
print(df_bfill)

### ðŸŽ¯ ML Example: Smart Imputation Strategy

In [ ]:
# ML-ready imputation strategy
df_clean = df.copy()

# Numerical: Fill with median (robust to outliers)
for col in df_clean.select_dtypes(include=[np.number]).columns:
    df_clean[col] = df_clean[col].fillna(df_clean[col].median())

# Categorical: Fill with mode or 'Unknown'
for col in df_clean.select_dtypes(include=['object']).columns:
    if df_clean[col].mode().empty:
        df_clean[col] = df_clean[col].fillna('Unknown')
    else:
        df_clean[col] = df_clean[col].fillna(df_clean[col].mode()[0])

print("Clean dataset:")
print(df_clean)
print("\nMissing values:")
print(df_clean.isnull().sum())

---

## 2ï¸âƒ£ Handling Duplicates

In [ ]:
# Create dataset with duplicates
df_dup = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'],
    'Score': [85, 92, 85, 78, 92, 95],
    'Subject': ['Math', 'Science', 'Math', 'Math', 'Science', 'Math']
})

print("Dataset with duplicates:")
print(df_dup)

In [ ]:
# Detect duplicates
print("Duplicate rows (True/False):")
print(df_dup.duplicated())

print("\nNumber of duplicates:", df_dup.duplicated().sum())

print("\nDuplicate rows:")
print(df_dup[df_dup.duplicated()])

In [ ]:
# Remove duplicates (keep first occurrence)
df_no_dup = df_dup.drop_duplicates()
print("After removing duplicates:")
print(df_no_dup)
print(f"Shape: {df_dup.shape} â†’ {df_no_dup.shape}")

# Remove duplicates (keep last occurrence)
df_no_dup_last = df_dup.drop_duplicates(keep='last')
print("\nKeep last occurrence:")
print(df_no_dup_last)

In [ ]:
# Remove duplicates based on specific columns
df_no_dup_name = df_dup.drop_duplicates(subset=['Name'])
print("Remove duplicates based on Name only:")
print(df_no_dup_name)

df_no_dup_cols = df_dup.drop_duplicates(subset=['Name', 'Subject'])
print("\nRemove duplicates based on Name and Subject:")
print(df_no_dup_cols)

---

## 3ï¸âƒ£ Data Type Conversion

In [ ]:
# Create dataset with wrong types
df_types = pd.DataFrame({
    'ID': ['1', '2', '3', '4', '5'],
    'Age': ['25', '30', '35', '28', '32'],
    'Salary': ['50000', '60000', '70000', '55000', '65000'],
    'Active': ['True', 'False', 'True', 'True', 'False']
})

print("Original data types:")
print(df_types.dtypes)
print("\nDataset:")
print(df_types)

In [ ]:
# Convert to appropriate types
df_types['ID'] = df_types['ID'].astype(int)
df_types['Age'] = df_types['Age'].astype(int)
df_types['Salary'] = df_types['Salary'].astype(float)
df_types['Active'] = df_types['Active'].astype(bool)

print("After type conversion:")
print(df_types.dtypes)
print("\nDataset:")
print(df_types)

In [ ]:
# Convert to categorical (saves memory for repeated values)
df_cat = pd.DataFrame({
    'Department': ['Engineering', 'Marketing', 'Engineering', 'Sales', 'Engineering', 'Marketing'] * 100
})

print(f"Object type memory: {df_cat['Department'].memory_usage(deep=True)} bytes")

df_cat['Department'] = df_cat['Department'].astype('category')
print(f"Category type memory: {df_cat['Department'].memory_usage(deep=True)} bytes")
print(f"Memory saved: {((1 - df_cat['Department'].memory_usage(deep=True) / pd.Series(df_cat['Department'].astype('object')).memory_usage(deep=True)) * 100):.1f}%")

---

## 4ï¸âƒ£ Handling Outliers

In [ ]:
# Create dataset with outliers
np.random.seed(42)
data = np.random.normal(100, 15, 100).tolist()
data.extend([200, 250, -50])  # Add outliers

df_outliers = pd.DataFrame({'Value': data})

print("Statistical summary:")
print(df_outliers['Value'].describe())

In [ ]:
# Method 1: IQR (Interquartile Range)
Q1 = df_outliers['Value'].quantile(0.25)
Q3 = df_outliers['Value'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"Lower bound: {lower_bound:.2f}")
print(f"Upper bound: {upper_bound:.2f}")

# Filter outliers
df_no_outliers = df_outliers[(df_outliers['Value'] >= lower_bound) & 
                              (df_outliers['Value'] <= upper_bound)]

print(f"\nOriginal size: {len(df_outliers)}")
print(f"After removing outliers: {len(df_no_outliers)}")
print(f"Outliers removed: {len(df_outliers) - len(df_no_outliers)}")

In [ ]:
# Method 2: Z-score (for normally distributed data)
from scipy import stats

df_outliers['z_score'] = np.abs(stats.zscore(df_outliers['Value']))
df_no_outliers_z = df_outliers[df_outliers['z_score'] < 3]

print(f"Using Z-score (threshold=3):")
print(f"Outliers removed: {len(df_outliers) - len(df_no_outliers_z)}")
print(f"\nRemaining statistics:")
print(df_no_outliers_z['Value'].describe())

---

## 5ï¸âƒ£ String Cleaning

In [ ]:
# Create messy string data
df_strings = pd.DataFrame({
    'Name': ['  Alice  ', 'BOB', 'charlie', ' David', 'Eve   '],
    'Email': ['alice@EXAMPLE.com', 'bob@example.COM', 'charlie@Example.com', 'david@example.com', 'eve@EXAMPLE.COM']
})

print("Original:")
print(df_strings)

In [ ]:
# Clean strings
df_strings['Name'] = df_strings['Name'].str.strip()  # Remove whitespace
df_strings['Name'] = df_strings['Name'].str.title()  # Title case
df_strings['Email'] = df_strings['Email'].str.lower()  # Lowercase

print("After cleaning:")
print(df_strings)

---

## ðŸŽ¯ Practice Exercise: Complete Data Cleaning Pipeline

In [ ]:
# Create messy dataset
messy_data = pd.DataFrame({
    'customer_id': ['1', '2', '3', '3', '4', '5', '6'],
    'name': ['  Alice  ', 'BOB', 'charlie', 'charlie', ' David', 'Eve', 'Frank'],
    'age': [25, np.nan, '35', '35', 28, np.nan, 45],
    'salary': [50000, 60000, np.nan, np.nan, 55000, 65000, 150000],
    'department': ['Engineering', 'marketing', None, None, 'Sales', 'Engineering', 'Engineering']
})

print("Messy dataset:")
print(messy_data)
print("\nData types:")
print(messy_data.dtypes)
print("\nMissing values:")
print(messy_data.isnull().sum())

In [ ]:
# Cleaning pipeline
clean_data = messy_data.copy()

# 1. Convert types
clean_data['customer_id'] = clean_data['customer_id'].astype(int)
clean_data['age'] = pd.to_numeric(clean_data['age'], errors='coerce')

# 2. Clean strings
clean_data['name'] = clean_data['name'].str.strip().str.title()
clean_data['department'] = clean_data['department'].str.title()

# 3. Handle missing values
clean_data['age'] = clean_data['age'].fillna(clean_data['age'].median())
clean_data['salary'] = clean_data['salary'].fillna(clean_data['salary'].median())
clean_data['department'] = clean_data['department'].fillna('Unknown')

# 4. Remove duplicates
clean_data = clean_data.drop_duplicates()

# 5. Handle outliers (salary > 100k might be outlier in this small dataset)
Q1 = clean_data['salary'].quantile(0.25)
Q3 = clean_data['salary'].quantile(0.75)
IQR = Q3 - Q1
clean_data = clean_data[(clean_data['salary'] >= Q1 - 1.5*IQR) & 
                        (clean_data['salary'] <= Q3 + 1.5*IQR)]

print("Clean dataset:")
print(clean_data)
print("\nData types:")
print(clean_data.dtypes)
print("\nMissing values:")
print(clean_data.isnull().sum())
print(f"\nRows: {len(messy_data)} â†’ {len(clean_data)}")

---

## ðŸŽ“ Summary

In this notebook, you learned:

âœ… **Missing Values**: Detection, dropping, filling strategies (mean/median/mode/forward/backward)  
âœ… **Duplicates**: Identify and remove duplicate rows  
âœ… **Data Types**: Convert strings to numbers, booleans, categories  
âœ… **Outliers**: IQR and Z-score methods for detection and removal  
âœ… **String Cleaning**: Strip whitespace, case conversion  
âœ… **ML Pipeline**: Complete data cleaning workflow

### ðŸš€ Next Steps

Continue to:
- **`pandas_data_analysis.ipynb`** - GroupBy, aggregations, pivot tables
- Apply cleaning to real ML datasets

---

**Course:** MLM-101 - Machine Learning Mastery  
**Website:** [https://flowdiary.com.ng/course/MLM-101](https://flowdiary.com.ng/course/MLM-101)