# Pandas DataFrames Basics

**Course:** MLM-101 - Machine Learning Mastery  
**Phase 4:** Pandas for Data Analysis (Lectures 32-34)  
**Topics:** DataFrames, Series, Reading Data, Basic Operations

---

## ðŸ“š Learning Objectives

By the end of this notebook, you will be able to:

âœ… Create and manipulate Pandas DataFrames and Series  
âœ… Read data from CSV and JSON files  
âœ… Select, filter, and index data  
âœ… Perform basic DataFrame operations  
âœ… Apply Pandas to ML data preprocessing

---

In [ ]:
import pandas as pd
import numpy as np

print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

## 1ï¸âƒ£ Creating DataFrames and Series

DataFrames are 2D labeled data structures (like tables).

In [ ]:
# Series (1D labeled array)
scores = pd.Series([85, 92, 78, 95, 88], 
                   index=['Alice', 'Bob', 'Charlie', 'David', 'Eve'])

print("Series:")
print(scores)
print(f"\nType: {type(scores)}")
print(f"Shape: {scores.shape}")

In [ ]:
# DataFrame from dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'Score': [85, 92, 78, 95, 88],
    'Pass': [True, True, True, True, True]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

In [ ]:
# DataFrame from NumPy array
np.random.seed(42)
array_data = np.random.rand(5, 3)

df_numpy = pd.DataFrame(array_data, 
                        columns=['Feature_1', 'Feature_2', 'Feature_3'],
                        index=['Sample_1', 'Sample_2', 'Sample_3', 'Sample_4', 'Sample_5'])

print("DataFrame from NumPy:")
print(df_numpy)

---

## 2ï¸âƒ£ Basic DataFrame Information

In [ ]:
# Create sample dataset
ml_data = pd.DataFrame({
    'feature_1': [1.2, 2.3, 3.1, 4.5, 5.2, 6.1, 7.3],
    'feature_2': [10, 20, 30, 40, 50, 60, 70],
    'feature_3': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7],
    'label': [0, 0, 1, 1, 1, 0, 1]
})

print("Dataset:")
print(ml_data)
print("\n" + "="*50 + "\n")

# Shape
print(f"Shape: {ml_data.shape} (rows, columns)")

# Column names
print(f"\nColumns: {list(ml_data.columns)}")

# Data types
print("\nData Types:")
print(ml_data.dtypes)

# Info summary
print("\nDataFrame Info:")
ml_data.info()

In [ ]:
# First and last rows
print("First 3 rows:")
print(ml_data.head(3))

print("\nLast 3 rows:")
print(ml_data.tail(3))

In [ ]:
# Statistical summary
print("Statistical Summary:")
print(ml_data.describe())

---

## 3ï¸âƒ£ Reading Data from Files

In [ ]:
# Create sample CSV data
csv_data = """Name,Age,Salary,Department
Alice,25,50000,Engineering
Bob,30,60000,Marketing
Charlie,35,70000,Engineering
David,28,55000,Sales
Eve,32,65000,Engineering"""

# Save to file
with open('sample_data.csv', 'w') as f:
    f.write(csv_data)

# Read CSV
df_csv = pd.read_csv('sample_data.csv')
print("Data from CSV:")
print(df_csv)

# Common read_csv parameters
print("\nUseful read_csv parameters:")
print("  - sep=',' : Column separator")
print("  - header=0 : Row for column names")
print("  - index_col=0 : Column to use as index")
print("  - usecols=['col1', 'col2'] : Select specific columns")
print("  - nrows=100 : Read only first N rows")

In [ ]:
# Create and read JSON
import json

json_data = {
    "students": [
        {"name": "Alice", "score": 85, "passed": True},
        {"name": "Bob", "score": 92, "passed": True},
        {"name": "Charlie", "score": 78, "passed": True}
    ]
}

with open('sample_data.json', 'w') as f:
    json.dump(json_data, f)

# Read JSON
df_json = pd.read_json('sample_data.json')
print("Data from JSON:")
print(df_json)

---

## 4ï¸âƒ£ Selecting Data

Access columns and rows in DataFrames.

In [ ]:
# Create sample dataset
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'Salary': [50000, 60000, 70000, 55000, 65000],
    'Department': ['Engineering', 'Marketing', 'Engineering', 'Sales', 'Engineering']
})

print("Full DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Select single column (returns Series)
print("Names (Series):")
print(df['Name'])
print(f"Type: {type(df['Name'])}")

print("\n" + "="*50 + "\n")

# Select multiple columns (returns DataFrame)
print("Name and Age (DataFrame):")
print(df[['Name', 'Age']])
print(f"Type: {type(df[['Name', 'Age']])}")

In [ ]:
# loc: Label-based indexing
print("Row 0 using loc:")
print(df.loc[0])

print("\nRows 1-3 using loc:")
print(df.loc[1:3])

print("\nSpecific cells using loc:")
print(df.loc[1:3, ['Name', 'Salary']])

In [ ]:
# iloc: Position-based indexing
print("First row using iloc:")
print(df.iloc[0])

print("\nRows 1-3 using iloc:")
print(df.iloc[1:4])  # Note: exclusive end

print("\nFirst 3 rows, first 2 columns:")
print(df.iloc[:3, :2])

---

## 5ï¸âƒ£ Filtering Data

In [ ]:
# Boolean indexing
print("Employees with Age > 30:")
print(df[df['Age'] > 30])

print("\nEngineering Department:")
print(df[df['Department'] == 'Engineering'])

print("\nSalary >= 60000:")
print(df[df['Salary'] >= 60000])

In [ ]:
# Multiple conditions
print("Engineering AND Age < 30:")
print(df[(df['Department'] == 'Engineering') & (df['Age'] < 30)])

print("\nSalary > 60000 OR Age < 28:")
print(df[(df['Salary'] > 60000) | (df['Age'] < 28)])

In [ ]:
# isin() for multiple values
print("Engineering or Marketing:")
print(df[df['Department'].isin(['Engineering', 'Marketing'])])

# NOT in
print("\nNOT in Engineering:")
print(df[~df['Department'].isin(['Engineering'])])

---

## 6ï¸âƒ£ Adding and Modifying Columns

In [ ]:
# Add new column
df['Bonus'] = df['Salary'] * 0.1
print("Added Bonus column:")
print(df)

# Add column with condition
df['Senior'] = df['Age'] >= 30
print("\nAdded Senior column:")
print(df)

# Modify existing column
df['Salary'] = df['Salary'] * 1.05  # 5% raise
print("\nSalary after 5% raise:")
print(df[['Name', 'Salary']])

In [ ]:
# Drop columns
df_dropped = df.drop(['Bonus', 'Senior'], axis=1)
print("After dropping Bonus and Senior:")
print(df_dropped)

### ðŸŽ¯ ML Example: Feature Engineering

In [ ]:
# Create ML dataset
ml_df = pd.DataFrame({
    'age': [25, 30, 35, 40, 45, 50],
    'income': [30000, 45000, 55000, 70000, 85000, 95000],
    'credit_score': [650, 700, 720, 750, 780, 800]
})

print("Original features:")
print(ml_df)

# Feature engineering
ml_df['age_group'] = pd.cut(ml_df['age'], bins=[0, 30, 40, 100], 
                             labels=['young', 'middle', 'senior'])
ml_df['income_per_age'] = ml_df['income'] / ml_df['age']
ml_df['high_credit'] = ml_df['credit_score'] >= 750

print("\nWith engineered features:")
print(ml_df)

---

## 7ï¸âƒ£ Sorting and Ranking

In [ ]:
# Sort by column
print("Sorted by Salary (ascending):")
print(df.sort_values('Salary')[['Name', 'Salary']])

print("\nSorted by Salary (descending):")
print(df.sort_values('Salary', ascending=False)[['Name', 'Salary']])

# Sort by multiple columns
print("\nSorted by Department then Age:")
print(df.sort_values(['Department', 'Age'])[['Name', 'Department', 'Age']])

---

## ðŸŽ¯ Practice Exercises

### Exercise 1: Load and Explore Data

In [ ]:
# Create sample sales dataset
sales_data = pd.DataFrame({
    'product': ['A', 'B', 'C', 'D', 'E', 'A', 'B', 'C'],
    'quantity': [10, 15, 8, 20, 12, 18, 14, 9],
    'price': [100, 150, 80, 200, 120, 100, 150, 80],
    'region': ['East', 'West', 'East', 'North', 'South', 'West', 'East', 'North']
})

# Your tasks:
# 1. Display the first 3 rows
print("First 3 rows:")
print(sales_data.head(3))

# 2. Show shape and column names
print(f"\nShape: {sales_data.shape}")
print(f"Columns: {list(sales_data.columns)}")

# 3. Add 'revenue' column (quantity * price)
sales_data['revenue'] = sales_data['quantity'] * sales_data['price']
print("\nWith revenue column:")
print(sales_data)

### Exercise 2: Filter and Analyze

In [ ]:
# Filter high-revenue sales (revenue > 1500)
high_revenue = sales_data[sales_data['revenue'] > 1500]
print("High revenue sales (>1500):")
print(high_revenue)

# Find East region sales
east_sales = sales_data[sales_data['region'] == 'East']
print("\nEast region sales:")
print(east_sales)

# Top 3 by revenue
top3 = sales_data.nlargest(3, 'revenue')
print("\nTop 3 by revenue:")
print(top3)

---

## ðŸŽ“ Summary

In this notebook, you learned:

âœ… **DataFrames & Series**: Creating and understanding structure  
âœ… **Reading Data**: CSV, JSON, and file I/O  
âœ… **Selecting**: Columns, rows, loc, iloc  
âœ… **Filtering**: Boolean indexing, multiple conditions  
âœ… **Modifying**: Adding columns, feature engineering  
âœ… **Sorting**: Order data by columns  
âœ… **ML Applications**: Feature engineering, data exploration

### ðŸš€ Next Steps

Continue to:
- **`pandas_data_cleaning.ipynb`** - Handle missing values, duplicates
- **`pandas_data_analysis.ipynb`** - GroupBy, aggregations, merging

---

**Course:** MLM-101 - Machine Learning Mastery  
**Website:** [https://flowdiary.com.ng/course/MLM-101](https://flowdiary.com.ng/course/MLM-101)